html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #fff7f2;
    color: #333;
    overflow-y: scroll;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 10;
}
.navbar nav a {
    margin-left: 25px;
    text-decoration: none;
    color:#ff9f66;
    font-size: 18px;
    font-weight: 500;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 45px;
    height: 45px;
}
.logo span {
    font-size: 22px;
    color: white;
    font-weight: 600;
}
.hero {
    height: 100vh;
    background: url("images/bg.jpg") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
}
.hero-content {
    position: relative;
    text-align: center;
    color: #fff;
    padding: 20px;
}
.hero-content h1 {
    font-size: 55px;
    font-weight: 700;
}
.hero-content p {
    font-size: 22px;
    margin: 10px 0 30px;
}
.explore-btn {
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    background: #ff9f66;
    cursor: pointer;
}
.about-section {
    padding: 80px 5%;
    background: #fafafa;
}
.about-container {
    display: flex;
    align-items: center;
    gap: 40px;
}
.about-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}
.about-text h2 {
    font-size: 38px;
    margin-bottom: 15px;
    color: #2b2b2b;
}
.about-text p {
    color: #555;
    margin-bottom: 15px;
    line-height: 1.7;
    font-size: 17px;
}
.contact-section {
    padding: 80px 5%;
    background: #fff;
}
.contact-container {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contact-image img {
  width: 350px;      
    border-radius: 20px;
}
.contact-info h2 {
    font-size: 38px;
    margin-bottom: 20px;
}
.contact-info p {
    font-size: 18px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: #444;
}
.icon {
    width: 22px;
    margin-right: 10px;
}
@media(max-width: 768px) {
    .about-container,
    .contact-container {
        flex-direction: column;
        text-align: center;
    }
}
.products {
    padding: 80px 50px;
    text-align: center;
}
.product-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.card img {
    width: 100%;
    border-radius: 10px;
}

